{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "eslint:all",
    "plugin:@typescript-eslint/all",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:import/warnings",
    "plugin:sonarjs/recommended",
    "plugin:unicorn/all",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "project": [
      "./tsconfig.json"
    ],
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "simple-import-sort",
    "sonarjs",
    "prettier"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/lines-between-class-members": "error",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-confusing-void-expression": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-extraneous-class": "error",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-magic-numbers": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "@typescript-eslint/no-type-alias": "off",
    "@typescript-eslint/no-unnecessary-boolean-literal-compare": "off",
    "@typescript-eslint/no-unnecessary-condition": "off",
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return ": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/non-nullable-type-assertion-style": "off",
    "@typescript-eslint/prefer-enum-initializers": "off",
    "@typescript-eslint/prefer-for-of": "off",
    "@typescript-eslint/prefer-readonly-parameter-types": "off",
    "@typescript-eslint/require-await": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "accessor-pairs": "error",
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "capitalized-comments": "off",
    "class-methods-use-this": "off",
    "complexity": "off",
    "consistent-return": "off",
    "curly": "off",
    "default-case": "off",
    "dot-notation": "error",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "func-style": "off",
    "guard-for-in": "error",
    "id-length": "off",
    "import/extensions": "off",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-extraneous-dependencies": "error",
    "import/no-named-as-default": "off",
    "import/no-unresolved": "error",
    "import/order": "off",
    "import/prefer-default-export": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "line-comment-position": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "max-depth": "error",
    "max-len": [
      "error",
      {
        "code": 80,
        "comments": 80,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true,
        "tabWidth": 2
      }
    ],
    "max-lines": "off",
    "max-lines-per-function": "off",
    "max-statements": "off",
    "multiline-comment-style": "off",
    "new-cap": "off",
    "no-alert": "error",
    "no-bitwise": "off",
    "no-caller": "error",
    "no-console": "off",
    "no-constant-condition": "off",
    "no-continue": "off",
    "no-debugger": "error",
    "no-div-regex": "error",
    "no-duplicate-imports": "off",
    "no-else-return": "error",
    "no-empty-function": "off",
    "no-empty-pattern": "off",
    "no-eq-null": "off",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-inline-comments": "off",
    "no-invalid-this": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-magic-numbers": "off",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-proto": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "off",
    "no-template-curly-in-string": "error",
    "no-ternary": "off",
    "no-undefined": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "error",
    "no-unused-vars": "off",
    "no-useless-concat": "off",
    "no-useless-constructor": "error",
    "one-var": "off",
    "prefer-const": "off",
    "prefer-destructuring": "off",
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "bracketSameLine": true,
        "bracketSpacing": true,
        "endOfLine": "lf",
        "htmlWhitespaceSensitivity": "strict",
        "jsxSingleQuote": false,
        "printWidth": 80,
        "proseWrap": "always",
        "quoteProps": "as-needed",
        "semi": true,
        "singleAttributePerLine": false,
        "singleQuote": false,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": false
      }
    ],
    "quotes": [
      "error",
      "double"
    ],
    "radix": "error",
    "require-unicode-regexp": "off",
    "semi": [
      "error",
      "always"
    ],
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",
    "sonarjs/cognitive-complexity": "off",
    "sonarjs/no-all-duplicated-branches": "off",
    "sonarjs/no-duplicate-string": "off",
    "sonarjs/no-empty-collection": "error",
    "sonarjs/no-redundant-jump": "error",
    "sonarjs/prefer-immediate-return": "error",
    "sonarjs/prefer-single-boolean-return": "off",
    "sort-imports": "off",
    "spaced-comment": "off",
    "strict": "error",
    "unicorn/consistent-function-scoping": "off",
    "unicorn/error-message": "off",
    "unicorn/filename-case": "off",
    "unicorn/no-abusive-eslint-disable": "off",
    "unicorn/no-array-reduce": "error",
    "unicorn/no-empty-file": "off",
    "unicorn/no-keyword-prefix": "off",
    "unicorn/no-negated-condition": "off",
    "unicorn/no-null": "off",
    "unicorn/no-useless-undefined": "off",
    "unicorn/prefer-at": "error",
    "unicorn/prefer-code-point": "off",
    "unicorn/prefer-dom-node-dataset": "error",
    "unicorn/prefer-event-target": "error",
    "unicorn/prefer-number-properties": "error",
    "unicorn/prefer-query-selector": "off",
    "unicorn/prefer-spread": "off",
    "unicorn/prefer-string-replace-all": "off",
    "unicorn/prefer-ternary": "error",
    "unicorn/prefer-top-level-await": "error",
    "unicorn/prevent-abbreviations": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".js",
        ".jsx",
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
